.titulo{
    font-size: 80px;
    color:white;
}

.text-small{
    font-size: 25px;
    color: white;
    }

.text-small2{
    color:black;

}
    
.text-large{
    font-size: 18px;
    font-weight: 700;
}


.bg-azul {
    background-color: #1A1A2D;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
    font-weight: 500;
}

.container{
    display: flex;

}

.bg-secondary{
   background-color: #9696b8;

}
.colm1{
    margin-right: 175px;
}

.colm2{
    margin-left: 195px;
}

.purple{
    color: blueviolet;
}
