.text-small{
    font-size: 12px;
    }
    
.text-large{
    font-size: 20px;
    font-weight: 700;
}


.bg-azul {
    background-color: #1A1A2D;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
    font-weight: 500;
}


