.bg-azul{
    background-color: rgb(4, 38, 173);

}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
    font-weight: 500;
}

.navbar .nav-link:hover {
    opacity: 0.8;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.btn-warning{
background-color: yellow;
color: black;
font-weight: bold;
}


.titulo{
font-weight: bold;
font-size: 35px;
}

.card-text3{
font-weight: bold;


}